<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<!-- views/cars/index.ejs -->

<body>
  <%- include('../partials/nav.ejs')%>

  <h1>All cars</h1>
  <div>
  <ul>
    <% car.forEach(car => { %>
      <li>
          <a href="/cars/<%= car._id %>">
          <%= car.name %></a>
      </li>
    <% }); %>
  </ul>
</div>
</body>

</html>
  
