<!-- views/cars/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add cars </title>
  </head>

  <body>
    <%- include('../partials/nav.ejs')%>

    <h1>add new Car!</h1>
    <!-- views/cars/new.ejs -->
    <form action="/cars" method="POST">
        
        <div>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />

      <label for="name">model:</label>
      <input type="text" name="model" id="model" />
  
      <label for="name">company:</label>
      <input type="text" name="company" id="company" />
  
      <label for="name">description:</label>
      <input type="text" name="description" id="description" />
  
    </div>

      <button type="submit">Add car</button>
      

    </form>

  </body>


</html>